.container {
    width: 100%;
    height: 100%;
    border: 2px solid #8c308f;
    border-radius: 10px;
    &Body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: ;
    }
}