.container {
  width: 60px;
  height: 60px;
  position: relative;
  border: 1px solid black;
}

.defaultContainer {
  position: relative;
  background-color: "transparent";
  border: 1px solid black;
  width: 60px;
  height: 60px;
}
